*{
    margin: 0; 
    padding: 0; 
  }
  
  .menu{
      width: 994px;
      margin: 0 auto;
  }
  
  
  
  header{
  
      width:100%;
      height: 200px;
     
  }

  nav{
    
    float: right;
     background:black;
 }
 
 
 nav ul li{
     background:black;
     color:#fff ;
     display: inline-block;
     padding: 10px 20px;
     border-bottom: 2px solid black;
     
 }
 
 
 nav ul li:hover{
     cursor:pointer ;
     border-bottom:2px solid #fff ;
 
     }

     a{
        text-decoration: none;
    color:#fff; 
 }